:root {
  --background: #273244;
  --paper-background: #1F2A3C;
  --card-color: #394B61;
  --search-bar-color: #1A2536;
  --hr: #394B61;
  --text: #D4D7DD;
  --primary: #00E0FF;
  --dark-text: #000;
    --indicator-bg: #283647;
}

.flex-row-center, .flex-column-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column-center {
  flex-direction: column;
}

.MuiListItemButton-root.ListItemButton {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 35px;
}
.MuiListItemButton-root.ListItemButton .MuiListItemIcon-root {
  color: var(--text);
  min-width: 40px;
}

.MuiListItemButton-root.ListItemButton.Mui-selected {
  background-color: transparent;
  color: var(--primary);
  border-right: 3px solid var(--primary);
}

.MuiListItemButton-root.ListItemButton.Mui-selected .MuiListItemIcon-root {
  color: var(--primary);
}
.searchfield {
  border-bottom: none;
}

.MuiInputAdornment-root.searchfield::after,
.MuiInputAdornment-root.searchfield::before {
  border-bottom: 0;
}

.search-container {
  position: relative;
}

.search-button {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}

.search-container {
  max-width: 500px;
}

.searchfield {
  background-color: var(--search-bar-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.searchfield input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text);
  font-size: 21px;
  flex: 1;
  padding-left: 3.5rem;
}

.searchfield>button:disabled {
  color: white;
}

.searchfield>.start-adornment {
  padding: 1rem 1rem 1rem 1.25rem;
}

.searchfield>.end-adornment {
  padding: 1rem 1rem 1rem 1rem;
}

.MuiIconButton-root>svg {
  color: var(--text);
}

.discovery-toolbar.MuiToolbar-root {
  padding: 0;
}

.movies {
  margin: 3rem 0;
}

.movie-card {
  background-color: var(--card-color);
  border-radius: 0.75rem;
  margin: 0 1rem 1rem 0;
  padding: 0.65rem;
  width: 180px;
  transition: 0.1s ease-in-out all;
  cursor: pointer;
}

.movie-card .movie-poster {
  width: 160px;
  height: 190px;
}

.movie-card .movie-poster img {
  width: 160px;
  height: 190px;
  object-fit: cover;
  border-radius: calc(0.72rem / 2);
}

.movie-card .movie-name {
  margin: 0.75rem 0;
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card.selected .movie-poster,
.movie-card .movie-poster img {
  width: 155px;
}

.movie-card.selected {
  border: 3px solid var(--primary);
}

.movie-details {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.movie-attr {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: 1fr;
}

.button {
  padding: 0.75rem 1.25rem;
  background: transparent;
  border: 1px solid var(--primary);
  font-weight: bold;
  color: var(--primary);
  border-radius: 5px;
}

.button.primary {
  background-color: var(--primary);
  color: var(--dark-text)
}

.button.primary+.button.secondary {
  margin-left: 1rem;
}

.movie-details {
  font-size: 1rem;
}

.movie-synopsis {
  font-size: 14px;
  padding-right: 1rem;
}

.movie-poster img {
  width: 330px;
  object-fit: cover;
}

.movie-desc-wrapper {
  height: 390px;
  margin: 0 0 1rem 0;
}
.movie-description {
  display: flex;
  height: 390px;
  overflow: hidden;
  background-color: var(--card-color);
  border-radius: 0.75rem;
}

.rating-container {
  position: relative;
  width: 110px;
  height: 8px;
  border-radius: 4px;
  background-color: var(--indicator-bg);
  margin-right: 0.75rem;
}

.movie-synopsis {
  max-height: 80px;
  overflow-y: auto;
}
.rating-indicator {
  height: 8px;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--primary);
}
@media screen and (max-width: 480px) {
  .searchfield {
    max-width: 280px;
  }

  .searchfield input {
    font-size: 0.85rem;
  }

  .movie-card {
    width: 160px;
    margin: 0 0.65rem 1rem 0;
  }

  .movie-card .movie-poster,
  .movie-card .movie-poster img {
    width: 140px;
    height: 170px;
  }

  .movie-card .movie-name {
    width: 140px;
  }

  .movie-card.selected .movie-poster,
  .movie-card .movie-poster img {
    width: 135px;
  }
}
@media screen and (max-width: 1100px) {
  .movie-card {
    width: 220px;
    height: 300px;
  }

  .movie-card .movie-poster,
  .movie-card .movie-poster img {
    width: 200px;
    height: 220px;
  }
}

@media screen and (max-width: 1028px) {
  .movie-card {
    width: 210px;
    height: 320px;
  }

  .movie-card .movie-poster,
  .movie-card .movie-poster img {
    width: 190px;
  }

  .movie-card.selected .movie-poster img {
    width: 185px;
  }
}