:root {
  --background: #273244;
  --paper-background: #1F2A3C;
  --card-color: #394B61;
  --search-bar-color: #1A2536;
  --hr: #394B61;
  --text: #D4D7DD;
  --primary: #00E0FF;

}

.flex-row-center, .flex-column-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column-center {
  flex-direction: column;
}

.MuiListItemButton-root.ListItemButton {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 35px;
}
.MuiListItemButton-root.ListItemButton .MuiListItemIcon-root {
  color: var(--text);
  min-width: 40px;
}

.MuiListItemButton-root.ListItemButton.Mui-selected {
  background-color: transparent;
  color: var(--primary);
  border-right: 3px solid var(--primary);
}

.MuiListItemButton-root.ListItemButton.Mui-selected .MuiListItemIcon-root {
  color: var(--primary);
}